.osago-page {
  padding: 16px;
  background: #f6f8fa;
  overflow: auto;
}

.search-bar {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 1px 6px rgba(56, 128, 255, 0.04);
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin-bottom: 10px;
  height: 48px;
  border: 1.5px solid #171717;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .search-icon {
    font-size: 22px;
    color: #222;
    margin-right: 8px;
  }
}

.search-icon {
  font-size: 22px;
  color: #222;
  margin-right: 8px;
}

.search-input {
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  flex: 1;
}

.organization-card {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 2px 16px rgba(56, 128, 255, 0.08);
  padding: 20px 18px 16px 18px;
  margin-bottom: 32px;
}

.organization-header {
  display: flex;
  align-items: center;
  gap: 7px;

  img {
    border-radius: 100%;
  }
}

.organization-name {
  font-weight: 700;
  font-size: 20px;
}

.organization-earns-title {
  color: #7B7F88;
}

.organization-earn {
  text-align: center;
  font-size: 12px;
}

.organization-percent {
  color: #854C9D;
  font-weight: 700;
  font-size: 20px;
}

.organization-earns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12px;
}

.organization-btn {
  border-radius: 22px !important;
}

.organization-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.organization-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bottom-button-wrapper {
  position: sticky;
  bottom: -16px;
  left: 0;
  right: 0;
  background: #f9f9fa;
  z-index: 10;
  margin-bottom: 20px;

  img {
    margin: 0 8px;
  }
}

.osago-page {
  .create-osago-btn {
    font-weight: 500;
    font-size: 16px;
    --background: #0072de;
    --border-radius: 12px;
    --padding-top: 14px;
    --padding-bottom: 14px;
  }

  .commission-info {
    color: #1cbe93;
    font-size: 12px;
    text-align: center;
    margin-top: 2px;
  }
}
